@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 text-center">
                <h1>Pro Trade</h1>
                <h2>Barter Currency Trading</h2>
                <p class="lead">
                    Pikachu diablo 3 asians angry birds final week varius le girlfriend in.
                    Feel Like a Sir panda blizzard hac mom nerd monday in on nyan cat.
                </p>

                <p>
                    Pro Trade thing is currently in active development and will be released soon.<br>
                    In the meantime, check out our demo.
                </p>
                <br>

                <form class="form-inline" role="form">
                    <div class="form-group"><input type="text" class="form-control input-lg" id="exampleInputEmail2" placeholder="Username"></div>
                    <div class="form-group"><input type="text" class="form-control input-lg" id="exampleInputPassword2" placeholder="Password"></div>
                    <button type="submit" class="btn btn-lg btn-default">Login</button>
                </form>
                <p class="small text-muted">Don't have an account? <a>Sign Up.</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="illustration">
                    <img src="assets/images/ap-screenshot.png" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->
<!-- Content -->
<main class="content">

    <!-- Lead -->
    <section class="container space-before space-after">
        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <h1 class="text-center">Why Barter?</h1>
                <p class="lead text-center">
                    It's an easy to use platform. You'll get marketing benefits and inventory control.
                    Connect with other traders and gain more business.
                </p>
            </div>
        </div>
    </section>
    <!-- /Lead -->
    <!-- Features -->
    <section class="container space-before">

        <div class="row featurelist space-after">
            <div class="col-md-5 col-sm-6 col-md-push-1 ">
                <img class="img-feature img-responsive" src="http://s18.postimg.org/m49n8jxex/Register.png" alt="Sample image">
            </div>
            <div class="col-md-5 col-md-push-1 col-sm-6">
                <h2 class="space-before">First, register for our site, <span class="text-muted">it's actually quite simple</span></h2>
                <p>We'll connect you with other users in the area. We like to promote local trade and small business support.</p>
            </div>
        </div>

        <div class="row featurelist space-after">
            <div class="col-md-5 col-sm-6 col-sm-push-6">
                <img class="img-feature img-responsive" src="http://s24.postimg.org/9yyq489dx/Dashboard.png" alt="Sample image">
            </div>
            <div class="col-md-5 col-sm-6 col-md-pull-4 col-sm-pull-6">
                <h2 class="space-before">Then build your inventory, <span class="text-muted">and any services you offer</span></h2>
                <p>
                    From hotels to advertisement, we have various businesses in our network.
                    Leverage your inventory for increased value.
                </p>
                <p>
                    You may offer your services in exchange for trade dollars. You can use your trade dollars to buy services from other users.
                    We also have a marketplace where you can buy and sell extra inventory for trade dollars.
                    Make use of extra inventory by offering it for market value and use the trade dollars like cash.
                </p>
            </div>
        </div>

        <div class="row featurelist space-after">
            <div class="col-md-5 col-sm-6 col-md-push-1 col-sm-6">
                <img class="img-feature img-responsive" src="https://novelinvestor.com/wp-content/uploads/2014/03/form-1099-b.png" alt="Sample image">
            </div>
            <div class="col-md-5 col-md-push-1 col-sm-6">
                <h2 class="space-before">After you're done, start trading!</h2>
                <p>Every time you make a transaction, whether buying or selling, your cash account will be charged 7.5% of the cash value of that transaction.</p>

                <p>Every month you will receive IRS Form 1099-B, stating your purchases and sales. We'll keep up with your transactions annually and mail it to you.</p>
            </div>
        </div>
    </section>
    <!-- /Features -->

</main>


<footer id="footer" class="jumbotron">
    <section class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-1">
                <h2>Login</h2>
            </div>
            <div class="col-md-5 col-md-push-1">
                <h2>Register</h2>
            </div>
        </div>
    </section>
</footer>
