<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Order
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Invoice</li>
        </ol>
    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            This page is a summary of your order. Please click "Make Purchase" to submit your purchase.
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Pro Trade, Inc.
                    <small class="pull-right">Date: 2/10/2014</small>
                </h2>
            </div><!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                From
                <address>
                    <strong>Pro Trade, Inc.</strong><br>
                    500 President Clinton, Suite 400<br>
                    Little Rock, AR 72202<br>
                    Email: justin@wyattcorporation.com
                </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
                To
                <address>
                    <strong>{{user.PersonOfContact}}</strong><br>
                    {{user.CompanyAddress}}<br>
                    {{user.City}}, {{user.State}} {{user.Postal}}<br>
                    Email: {{user.Email}}
                </address>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Qty</th>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="o in order.Items">
                        <tr>
                            <td>{{o.Quantity}}</td>
                            <td>{{o.ItemName}}</td>
                            <td>{{o.ItemDescription}}</td>
                            <td>{{o.SubTotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-xs-6">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width: 50%">Subtotal:</th>
                            <td>${{order.SubTotal}}</td>
                        </tr>
                        <tr>
                            <th>Tax (9.3%)</th>
                            <td>${{order.Tax}}</td>
                        </tr>
                        <tr>
                            <th>Broker Fee (7.5%)</th>
                            <td>${{order.BrokerFee}}</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>${{order.Total}}</td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <form>
                    <input type="submit" ng-click="makePurchase()" class="btn btn-success pull-right" value="Make Purchase"/>
                </form>
            </div>
        </div>
    </section><!-- /.content -->
    <div class="clearfix"></div>
</div><!-- /.content-wrapper -->